input[type=text ] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}
textarea:focus {
    background-color: lightblue;
	}
input[type=text]:focus {
    background-color: lightblue;
}

#T2, #T3, #T4{
    color: red;
}
input[type=button], input[type=reset]{
    padding: 8px 15px;
    border-radius: 15px;
    background-color: rgb(14, 14, 168);
    border-color: inherit;
    color: white;
}
input[type=button]:hover{
    background-color: rgb(29, 16, 215);
}
